@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  
 
  
  

  
}
body{
  background-color: whitesmoke;
  color: black;
  
  
}
nav{
  display: flex;
  text-align: center;
  border: solid whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height: 80px;
  
}

.search {
  margin-left: auto;
  
 
}
.news-body{
  display: flex;
  margin-top: 20px;
  font-family: Poppins, sans-serif;

}
.newsAreas{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: whitesmoke;
  text-align: center;
  height: 75vh;
  padding: 0;
  padding-bottom: 5px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow-y: auto;
  width: 950px;
  

}

.optionsArea{
  flex:1;
  text-align: center;
  margin-left: 15px;
  max-width: 190px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  
}
.latest{
  
  text-align: left;
  margin-bottom: auto;
  padding-left: 20px;
  margin-right: 30px;
  margin-top: 0;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  
}

.the-image{
  margin-left: auto;
  padding: 10px;
}

.the-heading{
  padding-left: 3px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: auto;
  text-align: left;
  font-size: large;
  
}

.the-preview{
  padding-top: 0px;
  margin: 0;
  text-align: left;
  text-indent: 30px;
  font-weight: 40;
  color: grey;
  font-size: 0.8rem;
}
.socials{
  margin-top: auto;     
}

.the-news{
  flex: 1;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 65px;
  overflow-y: auto;
  font-family: Roboto Mono;
  font-weight: 100;
  font-size: .9em;
  line-height: 1.6em;
  margin-left: -8px;
  background-color: whitesmoke;
  

}npm
.twitter{
  display: flex;
  max-height: 25px;
}
.twitter-img{
  flex:1;
  height: 30px;
  padding:2px;
  margin-right: -3px;
}
.socails{
  margin-top: 150px;
}
.optionButton{
  font-size: 1rem;
  
}
.newstab{
  display: flex;
}
.timeArrival{
  flex: 2;
  margin-right: 5px;
  padding: 0;
  font-size: 0.4rem;
  max-width: 20px;
  margin-top: 10px;
}
.sourceList{
  
  color:black;
}
.home{
  margin-bottom:15px;
}
.calender{
  margin-bottom: 15px;
}
.aboutUs{
  margin-bottom: 15px;
}
.logoimg{
  padding-left: 25px;
  margin-right: auto;
}
.coins{
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.price{
  font-weight: 50;
  font-size: 0.8rem;
  margin-bottom: 1px;
}
.percent{
  margin-top: 0;
  font-size: 0.7rem;
}
.watchlist{
  
  border-radius: 0.5rem;
  
}
.Arrival{
  font-size: 0.59rem;
  margin-top: 20px;
  max-width: 30px;
}
.newstor{
  text-justify: center;
  padding-top: 0;
  margin-left: auto;
  
}
.logoname {
  margin-left: auto;
}
.searchtab{
  height: 30px;
  
  font-size: 17px;
  border: none;
  
  border-radius: 0.5rem;
  margin-top: 10px;
  
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  
}
.watcoin{
  display: flex;
}
.bitcoin{
  height: 20px;
  padding:0;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 5px;
  margin-bottom: 7px;
}
.thecoin{
  margin-top: 7px;
  margin-left: 2px;
  margin-bottom: 7px;
}
.sourceList:hover {
  font-size: x-large;
}


